
pandas==2.1.1 # for data processing
nltk==3.7 # text preprocessing
scikit-learn==1.3.0 # for tf-idf model
numpy==1.24.3 # for numerical python processing
Flask==2.3.2 # for web part
matplotlib==3.8.0  # for visualizations
